h2 {
  text-align: center;
  color: #4CAF50;
  margin-top: 20px;
}

div {
  margin: 20px auto;
  max-width: 600px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: .5em;
  color: #333;
  display: block;
}

select {
  width: 100%;
  padding: .5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: .25em;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: .25em;
  cursor: pointer;
  font-size: 1em;
  display: block;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}