<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos</title>
</head>
<body>
    <h1>CONTRATOS</h1>
    <ul>
        <li><a href="#">Crear contrato</a></li>
        <li><a href="#">Actualizar contrato</a></li>
        <li><a href="#">Eliminar contrato</a></li>
        <li><a href="#">Consultar todos los contratos</a></li>
        <li><a href="#">Consultar un contrato</a></li>
    </ul>
</body>
</html>
