<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos</title>
</head>
<body>
    <h1>CONTRATOS</h1>
    <div class="menu">
        <button routerLink="/crear">Crear contrato</button>
        <button routerLink="/actualizar">Actualizar contrato</button>
        <button>Eliminar contrato</button>
        <button>Consultar todos los contratos</button>
        <button>Consultar un contrato</button>
    </div>
</body>
</html>
